*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
/* .colorG{
    color: greenyellow;
} */

.red{
    color: red;
}
.colorB{
    color: aqua;
}
.bgc{
    background-color: rgba(254, 191, 230, 0.95);
}

    #gender,#ethnic,#religion{
        width: 300px;
    }

#course {
    width: 320px;
    
}

